<link rel="stylesheet" href="../css/tabmenu.css" type="text/css" />
<link href="../css/templatemo-style.css" rel="stylesheet" />
<style>
.floor:link, .floor:visited {
  background-color: #f44336;
  color: white;
  padding: 4px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.floor:hover, .floor:active {
  background-color: red;
}
</style>
<body>
<h3 style="position: relative;left: 30px; color: green">MANAGE YOUR BILLS</h3>
<hr />
<h2>Select type sort and press submit</h2>
<div id="tabs" style="margin: 10px">
  <ul>
    <form action="/bills/date" method="post">
      <li><span>Day</span></li>
      <input type="date" id="day" name="day">
      <input type="submit" value="Submit">
    </form>
    <form action="/bills/month" method="post">
      <li><span>Month</span></li>
      <input type="month" id="month" name="month">
      <input type="submit" value="Submit">
    </form>
    <form action="/bills/year" method="post">
      <li><span>Year</span></li>
      <input type="number" id="year" name="year">
      <input type="submit" value="Submit">
    </form>
  </ul>
</div>
{{#each items }}
  <figcaption style="margin: 10px">
    <h2>Billname: {{ this.name }}</h2>
    <p>Customer Email: {{ this.customerEmail }}</p>
    <p>Date Created: {{ this.date }}</p>
    <p>Room Booked: {{ this.roomName }}</p>
    <p>Services Ordered: {{ this.serviceName }}</p>
    <p>Total: {{ this.totalPrice }}</p>
  </figcaption>
{{/each}}
<ul>
  <li class="tm-paging-item" id="Prev_button"><a href="#" onclick="GoToPreviousPage()" class="floor">Previous</a></li>
  <li class="tm-paging-item" id="Next_button"><a href="#" onclick="GoToNextPage()" class="floor">Next</a></li>
</ul>
<button class="btn-block" style="font-size: 25px;background-color: gray; display: inline-block; margin: 10px; cursor: pointer;color: white" onclick="ReturnHome()">Back to home page</button>
<script src="../js/accounts.js"></script>
<script src="../js/accountinfo.js"></script>
</body>
